.container-fluid {
    display: flex;
    align-items: center
}

nav.login-nav {
    position: absolute;
    width: 100%;
    height: 130px;
    left: 0px;
    top: 0px;
    background: #0D47A1;
}

nav.login-nav img.img-navbar {
    width: 104px !important;
    height: 114px !important;
    margin-top: 10px !important;
    padding-left: 98px !important;
    align-items: center !important;
}

nav.login-nav ul {
    list-style: none;
    width: 100%;
}

div.container-fluid ul li a.nav-title {
    list-style: none;
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}