.dropdown-advanced2 {

    display: block;
    margin: 0 auto;
}
.dropdown-advanced2 ul {
    padding: 0px;
    margin: 0;
}
.dropdown-advanced2 .container-elements.closed {
    display: none;
}
.dropdown-advanced2 .container-buttons.closed {
    display: none;
}
.dropdown-advanced2 button {
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
}

.dropdown-advanced2 label {
    cursor: pointer;
}
.dropdown-advanced2 li {
    list-style: none;
    padding: 0px;
    padding: 10px;
    margin: 0;
}

.dropdown-advanced2 li:nth-child(even) {
    background-color: #f2f2f2;
    color: #000;
}
.dropdown-advanced2 li:nth-child(odd) {
    background-color: #fff;
    color: #000;
}
.dropdown-advanced2 .opened {
    border: 1px solid #f2f2f2;
}
.dropdown-advanced2 .options-selected {

    cursor: pointer;

}
.options-selected2 span {
    font-size: 12px;
}
.dropdown-advanced2 .search-button2 {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.dropdown-advanced2 .order-option {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}
::placeholder {
    width: 100%;
    padding: 10px;
    text-align: center;

  }

  .input-field2 {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
